In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('Du_lieu_nguoi_di_lam_raw_codes.csv')

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Columns: 155 entries, Timestamp to Q12_Rate15
dtypes: float64(25), int64(99), object(31)
memory usage: 922.9+ KB

,Timestamp,Part1_GENERALINFORMATION,Tong12,P1Q1_LoSeSchool,P1Q2_TypeSchool,P1Q3_TypeClass,P1Q4_Hometown,P1Q5_Gender,P1Q6_Ethn,V9,...,Q12_Rate6,Q12_Rate7,Q12_Rate8,Q12_Rate9,Q12_Rate10,Q12_Rate11,Q12_Rate12,Q12_Rate13,Q12_Rate14,Q12_Rate15
0,13940166360,NaN,4.400000,THCS Cộng Hoà,0,0,Vụ Bản - Nam Định,0,0,36,...,4,4,4,3,3,4,5,5,5,5
1,13940430682,NaN,4.600000,THCS Chuyên Hoài Đức (nay là THCS Nguyễn Văn H...,0,1,"Đức Thượng, Hoài Đức, Hà Nội",0,0,43,...,5,5,5,5,5,5,5,5,4,5
2,13940451219,NaN,3.800000,Trường THPT Võ Thành Trinh,0,0,"Tây Phú, Thoại Sơn, An Giang",1,0,35,...,4,4,4,4,4,4,4,4,4,4
3,13940451739,NaN,2.266667,THCS Trần Huy Liệu- Vụ Bản- Nam Định,0,1,Vụ Bản- Nam Định,0,0,43,...,2,2,3,3,2,2,2,2,2,3
4,13940451860,NaN,3.533333,hải hậu c,0,1,nam định,0,0,39,...,4,3,3,3,3,3,3,3,3,3

In [12]:
df.columns

Index(['Timestamp', 'Part1_GENERALINFORMATION', 'Tong12', 'P1Q1_LoSeSchool',
       'P1Q2_TypeSchool', 'P1Q3_TypeClass', 'P1Q4_Hometown', 'P1Q5_Gender',
       'P1Q6_Ethn', 'V9',
       ...
       'Q12_Rate6', 'Q12_Rate7', 'Q12_Rate8', 'Q12_Rate9', 'Q12_Rate10',
       'Q12_Rate11', 'Q12_Rate12', 'Q12_Rate13', 'Q12_Rate14', 'Q12_Rate15'],
      dtype='object', length=155)

In [13]:
# Drop columns with more than 80% missing values
threshold = 0.8  # 80%
missing_frac = df.isna().mean() 
cols_to_drop = missing_frac[missing_frac > threshold].index.tolist()
print(f'Columns to drop ({len(cols_to_drop)}):', cols_to_drop)
df = df.drop(columns=cols_to_drop)

Columns to drop (9): ['Part1_GENERALINFORMATION', 'P1Q10a_Reasons_ChanJob', 'P1Q10a_Reasons_ChanJob_Note', 'P1Q11a_DifOc', 'P1Q13_Mjob_Note', 'Q1b_Otherjob', 'Q3_WhereOth', 'Q4_Act11Nam', 'Q5_AffectOth']

# Khó chuẩn hóa và cả 5 đều ít mạng lại giá trị về phân tích định hướng nghề nghiệp cá nhân

In [14]:
df = df.drop(columns=['P1Q1_LoSeSchool', 'P1Q4_Hometown','P1Q10a_Reason_ChanJob','P1Q12_Fjob_Note','Timestamp'])

In [15]:
df.to_csv('Du_lieu_nguoi_di_lam_crop.csv', index=False)